<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Create an Account</title>
	<link rel="stylesheet" type="text/css" href="assets/stylesheets/application.css" media="screen">
	<script src="assets/JS/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="assets/javascripts/application.js"></script>
</head>
<body class="background1">
	<h1>Create an account below</h1>
	<div class="container">
		<div id="menu">
			<ul>
			<li><a href="/welcome/index">Home</a></li>
			<li><a href="">Homework</a></li>
			<li><a href="/welcome/games">Games</a></li>
			<li><a href="/createanaccount.html">Create an Account</a></li>
			</ul>
	<label class="textcolor-white"> First Name</label>
	<input type="text" name="FirstName" id="FirstName-input">
    <label class="textcolor-white"> Last initial</label>
    <input type="text" name="Lastinitial" id="Lastinitial-input">
	<label class="textcolor-white"> Username</label>
	<input type="text" name="Username" id="Username-input">
	<label class="textcolor-white"> Password</label>
	<input type="text" name="Password" id="Password-input">
	<label class="textcolor-white"> Email</label>
	<input type="text" name="Email" id="Email-input">

</body>
</html>