<script type="text/javascript">
	$(document).ready(function() {
		$('body').addClass('background2');	
	});
</script>
<h1 class="textcolor-white">Welcome to the Gaming page</h1>
<div class="container">
	<table>
		<tr>
			<td>
				<form method="get" action="/minisoccer">
					<button class="minisoccerbackround">
					</button>
				</form>
			</td>
			<td>	
				<form method="get" action="/totalwreckage">
					<button class="totalwreckagebackground">
					</button>
				</form>
			</td>
			<td>	
				<form method="get" action="/rockpaperscissors">
					<button class="rpsbackground">
					</button>
				</form>
			</td>
			<td>
				<form method="get" action="/tic-tac-toe">
					<button class="tttbackground">
					</button>
				</form>	
			</td>		
		</tr>
	</table>
</div>		
