<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Gaming</title>
	<link rel="stylesheet" type="text/css" href="assets/stylesheets/application.css" media="screen">
	<script src="assets/JS/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="assets/javascripts/application.js"></script>
</head>
<body class="background2">
	<h1>Welcome to the Gaming page</h1>
	<div class="container">
		<div id="menu">
			<ul>
			<li><a href="/welcome/index">Home</a></li>
			<li><a href="">Homework</a></li>
			<li><a href="/welcome/games">Games</a></li>
			<li><a href="/welcome/createanaccount.html">Create an Account</a></li>
			</ul>
	<!--<iframe class="games" src="http://andkon.com/arcade/adventureaction/supermarioflashv3/"></iframe>-->	
</body>
</html>