<script type="text/javascript">
	$(document).ready(function() {
		$('body').addClass('background2');	
	});
</script>
<h1 class="textcolor-white">Welcome to the Gaming page</h1>
<div class="container">
	<form method="get" action="/minisoccer">
		<button class="minisoccerbackround" align="middle">
			play now
		</button>
	</form>
	<form method="get" action="/totalwreckage">
		<button class="totalwreckagebackground" align="middle">
			play now
		</button>
	</form>
</div>		
