
	<body class="background2">
	<h1>Welcome to the Gaming page</h1>
	<div class="container">
		<div id="menu">
			<ul>
			<li><a href="/welcome">Home</a></li>
			<li><a href="/games">Games</a></li>
			</ul>
	<!--<iframe class="games" src="http://andkon.com/arcade/adventureaction/supermarioflashv3/"></iframe>-->	