<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>LS Gaming</title>
	<link rel="stylesheet" type="text/css" href="assets/stylesheets/application.css" media="screen">
	<script src="assets/stylesheets/application.css"></script>
	<script type="text/javascript" src="assets/javascripts/application.js"></script>
</head>
<body class="background1">
	<h1>Welcome</h1>
	<div class="container">
		<div id="menu">
			<ul>
			<li><a href="/welcome/index">Home</a></li>
			<li><a href="">Homework</a></li>
			<li><a href="/welcome/games">Games</a></li>
			<li><a href="/welcome/createanaccount">Create an Account</a></li>
			</ul>
		</div>
			<div class="textcolor-white" id="todays-amazing-date">	</div>
		<!--<form>
			<label class="textcolor-white"> Password</label>
			<input type="text" name="Password" id="Password-input">
			<button id="submit-button">submit</button>
		</form>-->
		<script>
			window.setInterval(function(){
		  	var someDate = new Date();
		  	(someDate)
		  	document.getElementById("todays-amazing-date").innerHTML = someDate;

			}, 1000);
		</script>
	</div>
	<!--<iframe class="games" src="http://andkon.com/arcade/adventureaction/supermarioflashv3/"></iframe>-->	
</body>
</html>
