<body class="background1">
	<h1>Welcome</h1>
	<div class="container">
		<div id="menu">
			<ul>
			<li><a href="/welcome">Home</a></li>
			<li><a href="/games">Games</a></li>
			</ul>
		</div>
			<div class="textcolor-white" id="todays-amazing-date">	</div>
		<!--<form>
			<label class="textcolor-white"> Password</label>
			<input type="text" name="Password" id="Password-input">
			<button id="submit-button">submit</button>
		</form>-->
		<script>
			window.setInterval(function(){
		  	var someDate = new Date();
		  	(someDate)
		  	document.getElementById("todays-amazing-date").innerHTML = someDate;

			}, 1000);
		</script>
	</div>
	<!--<iframe class="games" src="http://andkon.com/arcade/adventureaction/supermarioflashv3/"></iframe>-->	

