<!-- Insert this code before your </body> tag -->
<script src="//static.miniclipcdn.com/js/game-embed.js"></script>
<body class="backgroundtwo">
	<h1 class="textcolor-white">Mini Soccer</h1>
	<div class="container">
		<div class="miniclip-game-embed" data-game-name="minisoccer" data-theme="0" data-width="1100" data-height="700" data-language="en" data-align="center"><a href="http://www.miniclip.com/games/minisoccer/">Play MiniSoccer</a></div>
		<p style="text-align:center;"><a href="http://www.miniclip.com/games/minisoccer/" target="_blank">Play MiniSoccer</a> / More <a href="http://www.miniclip.com/games/genre-18/" target="_blank">Soccer games</a></p>
	</div>		
	<!--<iframe class="games" src="http://andkon.com/arcade/adventureaction/supermarioflashv3/"></iframe>-->	