<script type="text/javascript">
	$(document).ready(function() {
		$('body').addClass('background2');	
	});
</script>
<h1 class="textcolor-white">Rock, Paper, or Scissors?</h1>
<div class="container">
	<table align="center">
		<tr>
			<td>
				<div class="rock" id="choiceOne"></div>
			</td>	
			<td>
				<div class="paper" id="choiceTwo"></div>
			</td>
			<td>
				<div class="scissors" id="choiceThree"></div>
			</td>
		</tr>
	</table>
</div>
