<script type="text/javascript">
	$(document).ready(function() {
		$('body').addClass('background2');	
	});
</script>
<h1 class="textcolor-white">Tic Tac Toe(2 player hotseat addition)</h1>
<div class="container">
	<table align="center">
		<tr>
			<td>
				<div class="box" id="one"></div>
			</td>	
			<td>
				<div class="box" id="two"></div>
			</td>
			<td>
				<div class="box" id="three"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="box" id="four"></div>
			</td>
			<td>
				<div class="box" id="five"></div>
			</td>
			<td>
				<div class="box" id="six"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="box" id="seven"></div>
			</td>
			<td>
				<div class="box" id="eight"></div>
			</td>
			<td>
				<div class="box" id="nine"></div>
			</td>
		</tr>
	</table>
	<input align="center" type="button" onClick="history.go(0)" value="Clear Board">
</div>