<script type="text/javascript">
	$(document).ready(function() {
		$('body').addClass('background2');	
	});
</script>
<script src="//static.miniclipcdn.com/js/game-embed.js"></script>
<body class="backgroundtwo">
	<h1 class="textcolor-white">Total Wreckage</h1>
	<div class="container">
		<div class="miniclip-game-embed" data-game-name="total-wreckage" data-theme="0" data-width="680" data-height="510" data-language="en"><a href="http://www.miniclip.com/games/total-wreckage/">Play Total Wreckage</a></div>
		<p style="text-align:center;"><a href="http://www.miniclip.com/games/total-wreckage/" target="_blank">Play Total Wreckage</a> / More <a href="http://www.miniclip.com/games/genre-1143/" target="_blank">Destruction games</a></p>
	</div>		
	
	
	